/*body.no-scroll {
  overflow: hidden;
}*/
:root {
  --yd-popup-height: 381px;
}

#newDelivery.popup-window,
#saleDelivery.popup-window,
#newDeliveryPvz.popup-window,
#setPlatformPvz.popup-window {
  background-color: #eef2f4;
}

#newDelivery,
#newDeliveryPvz,
#setPlatformPvz {
  box-sizing: border-box;
}

#newDelivery textarea,
#newDeliveryPvz textarea,
#saleDelivery {
  resize: vertical;
}

.yd-h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*Reset popup*/
#newDelivery.popup-window.popup-window-with-titlebar,
#saleDelivery.popup-window.popup-window-with-titlebar,
#newDeliveryPvz.popup-window.popup-window-with-titlebar,
#setPlatformPvz.popup-window.popup-window-with-titlebar {
  padding: 0 !important;
}
#newDelivery.popup-window-with-titlebar .popup-window-content,
#saleDelivery.popup-window-with-titlebar .popup-window-content,
#newDeliveryPvz.popup-window-with-titlebar .popup-window-content,
#setPlatformPvz.popup-window-with-titlebar .popup-window-content {
  padding: 0 !important;
  background-color: transparent !important;
}
#newDelivery .popup-window-titlebar,
#saleDelivery .popup-window-titlebar,
#newDeliveryPvz .popup-window-titlebar,
#setPlatformPvz .popup-window-titlebar {
  text-align: left;
  min-height: 49px;
  position: static;
}
#newDelivery .popup-window-titlebar .popup-window-titlebar-text,
#saleDelivery .popup-window-titlebar .popup-window-titlebar-text,
#newDeliveryPvz .popup-window-titlebar .popup-window-titlebar-text,
#setPlatformPvz .popup-window-titlebar .popup-window-titlebar-text {
  padding: 0;
  font-size: 16px;
}
#newDelivery .popup-window-titlebar,
#saleDelivery .popup-window-titlebar,
#newDeliveryPvz .popup-window-titlebar,
#setPlatformPvz .popup-window-titlebar {
  padding: 0 20px 12px;
}
.yd-popup-content {
  width: 904px;
  background-color: #eef2f4;
  padding: 0 1rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  box-sizing: border-box;
  min-height: 300px;
}
#newDeliveryContent.yd-popup-content {
  padding-right: calc(1rem - 5px);
}
.yd-popup-header {
  min-height: 50px;
  font-weight: bold;
  color: #80868e;
}
.yd-popup-error__message {
  background: transparent linear-gradient(90deg, #d50303 0%, #9d0000 100%) 0% 0%;
  border-radius: 3px;
  min-height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.yd-popup-error__message i {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  flex-shrink: 0;
}
.yd-popup-body {
  position: relative;
}
#setPlatformPvz .yd-popup-body {
  height: 517px;
}

/*tabs*/
.yd-popup-tabs {
}
.yd-popup-tabs__nav {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.yd-popup-tabs__nav__item {
  height: 3rem;
  font-size: 14px;
  color: #80868e;
  min-width: 146px;
  border-radius: 5px 5px 0px 0px;
  background-color: #e1e5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.yd-popup-tabs__nav__item.yd-popup-tabs__nav__item--active {
  background-color: #fff;
  cursor: default;
  pointer-events: none;
}
.yd-popup-tabs__nav__item.yd-popup-tabs__nav__item--hidden {
	display: none;
}
.yd-popup-tabs__tabs__item {
  display: none;
}
.yd-popup-tabs__tabs__item.yd-popup-tabs__tabs__item--active {
  display: block;
}
.yd-popup-tabs__tabs__item[data-tab="package"] {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 30px;
}
/*_tabs_*/

.yd-popup-form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
  position: relative;
  background-color: #fff;
  border-radius: 0px 5px 5px 5px;
  min-height: 452px;
}
.yd-popup-form__col {
  padding: 2rem 1rem;
  width: calc(50% - 8px);
  box-sizing: border-box;
}
.yd-popup-form__col:first-child {
  padding-right: 0;
}
.yd-popup-form__col:last-child {
  padding-left: 0;
}
.yd-popup-form__submit {
  text-align: center;
}

/*float label*/
.yd-popup-form .b-float-label {
  position: relative;
  margin-bottom: 20px;
}
.yd-popup-form .b-float-label:last-child {
  margin-bottom: 0;
}

.yd-popup-form input:not([type='checkbox']),
.yd-popup-form input:not([type='radio']),
.yd-popup-form textarea {
  background-color: #fff;
  outline: 1px solid #c6cdd3;
  border: none;
  border-radius: 3px;
  height: 48px;
  width: 100%;
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 15px;
  box-shadow: none;
  box-sizing: border-box;
  color: #3b3b3b;
  display: block;
}
.yd-popup-form textarea {
  padding-top: 16px;
  padding-bottom: 16px;
}

.yd-popup-form input:focus:not([type='checkbox']),
.yd-popup-form input:focus:not([type='radio']),
.yd-popup-form textarea:focus:not([readonly]),
.yd-popup-form input.active:not([type='checkbox']),
.yd-popup-form input.active:not([type='radio']),
.yd-popup-form textarea.active {
  border-bottom: 0;
  box-shadow: none;
  outline: 1px solid #80b6e3;
}

.yd-popup-form input:focus:not([type='checkbox']) ~ label,
.yd-popup-form input:focus:not([type='radio']) ~ label,
.yd-popup-form textarea:focus:not([readonly]) ~ label,
.yd-popup-form input.active:not([type='checkbox']) ~ label,
.yd-popup-form input.active:not([type='radio']) ~ label,
.yd-popup-form textarea.active ~ label {
  -webkit-transform: translateY(3px) scale(0.6);
  transform: translateY(3px) scale(0.6);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.yd-popup-form input[readonly],
.yd-popup-form textarea[readonly] {
  padding-left: 38px;
  background-image: url('/bitrix/images/twinpx.yadelivery/lock.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px;
}

.yd-popup-form input[readonly] + label,
.yd-popup-form textarea[readonly] + label {
  margin-left: 23px;
}

.yd-popup-form .b-float-label label {
  color: #80868e;
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 14px;
  font-weight: normal;
  cursor: text;
  -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  transition: transform 0.2s ease-out, color 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  text-align: initial;
  transform: translateY(16px);
}

.yd-popup-form .b-float-label label:not(.label-icon).active {
  -webkit-transform: translateY(3px) scale(0.6);
  transform: translateY(3px) scale(0.6);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.yd-popup-form .b-float-label.invalid input:not([type='checkbox']),
.yd-popup-form .b-float-label.invalid input:not([type='radio']),
.yd-popup-form .b-float-label.invalid textarea {
  background-color: #ffefef;
  outline: 1px solid #e38080;
  color: #ff0000;
}

.yd-popup-form
  .b-float-label.invalid
  input[type='text']:focus:not([readonly])
  + label,
.yd-popup-form
  .b-float-label.invalid
  input[type='tel']:focus:not([readonly])
  + label,
.yd-popup-form .b-float-label.invalid label {
  color: #ff0000;
}

/*Fill button*/
.yd-popup-form-fillbutton {
  color: #80868e;
  background-color: #eff1f4;
  font-size: 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 157px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}
.yd-popup-form-fillbutton:hover {
  background-color: #f8fbfd;
}

/*Delivery item*/
.yd-popup-offers,
.yd-popup-map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eef2f4;
  pointer-events: none;
  opacity: 0;
  box-sizing: border-box;
  padding: 0;
  z-index: -1;
}
.yd-popup-map-container {
  padding: 0;
}
.yd-popup-offers__wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #c6cdd3 #eef2f4;
  scrollbar-width: thin;
  padding-right: 5px;
}
.yd-popup-offers__wrapper::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #eef2f4;
}
/* ползунок скроллбара */
.yd-popup-offers__wrapper::-webkit-scrollbar-thumb {
  background-color: #c6cdd3;
  border-radius: 2px;
}
.yd-popup-offers__wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #8bd4eb;
}
.yd-popup-body.yd-popup-body--result .yd-popup-offers,
.yd-popup-body.yd-popup-body--result .yd-popup-map-container {
  pointer-events: initial;
  opacity: 1;
  z-index: 100;
}
.yd-popup-offers__info {
  display: flex;
}
.yd-popup-offers__item {
  display: flex;
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: #fff;
  height: 42px;
  padding: 0 5px 0 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease, opacity 0.3s ease 0.45s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.45s;
  opacity: 0;
}
.yd-popup-offers__item:hover {
  border-color: #8bd4eb;
}
.yd-popup-offers__item:last-child {
  margin-bottom: 0;
}
.yd-popup-offers__item i {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.yd-popup-offers__date {
  width: calc(16px + 10px + 125px);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 28px;
}
.yd-popup-offers__time {
  width: calc(16px + 10px + 110px);
  text-align: center;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.yd-popup-offers__price {
  width: 100%;
  min-width: 100px;
  text-align: right;
}
.yd-popup-offers__item .twpx-ui-btn {
  width: 114px;
  margin-left: 30px;
  flex-shrink: 0;
}
.yd-popup-offers--animate .yd-popup-offers__item {
  opacity: 1;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(1) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.05s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.05s;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(2) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.1s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.1s;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(3) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.15s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.15s;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(4) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.2s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.2s;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(5) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.25s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.25s;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(6) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.3s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.3s;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(7) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.35s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.35s;
}
.yd-popup-offers--animate .yd-popup-offers__item:nth-child(8) {
  transition: border-color 0.3s ease, opacity 0.3s ease 0.4s;
  -webkit-transition: border-color 0.3s ease, opacity 0.3s ease 0.4s;
}

/*load circle*/
/*.load-circle {
  position: relative;
}*/
.load-circle,
.load-circle:hover,
.load-circle:focus,
.load-circle:active,
.load-circle a {
  color: transparent !important;
}
.load-circle:after {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  top: calc(50% - 50px);
  right: calc(50% - 50px);
  animation: circle 1.3s infinite linear;
  border: 2px solid #3bc8f5;
  border-radius: 50%;
  border-right-color: transparent;
}

/*bx ui buttons*/
.yd-popup-form__submit .twpx-ui-btn,
.yd-popup-offers__item .twpx-ui-btn,
.yd-popup-list__item .twpx-ui-btn,
.yd-popup-offer .twpx-ui-btn {
  border-radius: 2px;
  line-height: calc(39px - 2px);
  vertical-align: middle;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font: 12px / calc(39px - 2px) 'OpenSans-Bold', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  height: 39px;
  border: 1px solid #3bc8f5;
  border-color: #3bc8f5;
  background-color: #3bc8f5;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  transition: 160ms linear background-color, 160ms linear color,
    160ms linear opacity, 160ms linear box-shadow, 160ms linear border-color;
}
.yd-popup-offers__item .twpx-ui-btn {
  padding: 0 17px;
  height: 31px;
  line-height: 31px;
  font-size: 12px;
  margin-left: 30px;
}
.yd-popup-form__submit .twpx-ui-btn:hover,
.yd-popup-offers__item .twpx-ui-btn:hover,
.yd-popup-list__item .twpx-ui-btn:hover,
.yd-popup-offer .twpx-ui-btn:hover {
  border-color: #3eddff;
  background-color: #3eddff;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
.yd-popup-form__submit .twpx-ui-btn:active,
.yd-popup-offers__item .twpx-ui-btn:active,
.yd-popup-list__item .twpx-ui-btn:active,
.yd-popup-offer .twpx-ui-btn:active {
  outline: none;
  border-color: #12b1e3;
  background-color: #12b1e3;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*Map*/
.yd-popup-container {
  display: flex;
  height: 100%;
}
#newDeliveryContentPvz.yd-popup-container {
  justify-content: space-between;
}
.yd-popup-map {
  flex-shrink: 0;
  width: 428px;
}
.yd-popup-list {
  flex-shrink: 0;
  width: 425px;
  padding: 0 0px 0 16px;
  scrollbar-color: #c6cdd3 #eef2f4;
  scrollbar-width: thin;
  overflow: hidden;
  height: 100%;
  margin-right: -5px;
  position: relative;
}
.yd-popup-list-wrapper,
.yd-popup-list-detail {
  overflow-y: auto;
  height: 100%;
  padding-right: 5px;
  scrollbar-color: #c6cdd3 #eef2f4;
  scrollbar-width: thin;
}
.yd-popup--simple .yd-popup-list-wrapper {
  height: calc(100% - 60px);
}
.yd-popup-list-detail {
  height: calc(100% - 60px);
}
.yd-popup-list-wrapper::-webkit-scrollbar,
.yd-popup-list-detail::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #eef2f4;
}
.yd-popup-list-wrapper::-webkit-scrollbar-thumb,
.yd-popup-list-detail::-webkit-scrollbar-thumb {
  background-color: #c6cdd3;
  border-radius: 2px;
}
.yd-popup-list-wrapper::-webkit-scrollbar-thumb:hover,
.yd-popup-list-detail::-webkit-scrollbar-thumb:hover {
  background-color: #8bd4eb;
}
.yd-popup-list-wrapper.yd-popup-list-wrapper--sorted .yd-popup-list__item {
  display: none;
}
.yd-popup-list-wrapper.yd-popup-list-wrapper--sorted
  .yd-popup-list__item.yd-popup-list__item--sorted {
  display: block;
}
/*Detail*/
.yd-popup-container.yd-popup--detail .yd-popup-list-wrapper,
.yd-popup-list-detail {
  display: none;
}
.yd-popup-container.yd-popup--detail .yd-popup-list-detail {
  display: block;
}
.yd-popup-container.yd-popup--detail .yd-popup-list {
  opacity: 1;
}
.yd-popup-list-detail .yd-popup-list__item .twpx-ui-btn {
  display: none;
}
/*Items*/
.yd-popup-list__item,
.yd-popup-offer {
  background-color: #fff;
  border-radius: 7px;
  padding: 24px;
  color: #000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin-bottom: 26px;
}
.yd-popup-list__item:last-child,
.yd-popup-offer:last-child,
.yd-popup-list-wrapper.yd-popup-list-wrapper--sorted
  .yd-popup-list__item.yd-popup-list__item--sorted:last-of-type {
  margin-bottom: 0;
}
.yd-popup-list--single .yd-popup-list__item {
  display: none;
}
.yd-popup-list--single .yd-popup-list__item.yd-popup-list__item--active {
  display: block;
}
.yd-popup-offer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: space-between;
}
.yd-popup-offer .twpx-ui-btn {
  width: 100%;
  flex-shrink: 0;
}
.yd-popup-offer__info {
  width: 145px;
  margin-bottom: 20px;
}
.yd-popup-offer__date {
  background: url('/bitrix/images/twinpx.yadelivery/pvz-calendar.svg') no-repeat
    center left;
  background-size: 16px;
  padding-left: 25px;
  margin-bottom: 8px;
}
.yd-popup-offer__time {
  background: url('/bitrix/images/twinpx.yadelivery/pvz-clock.svg') no-repeat
    center left;
  background-size: 16px;
  padding-left: 25px;
}
.yd-popup-offer__price {
  text-align: right;
  font-weight: bold;
  margin-bottom: 20px;
}
.yd-popup-list__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.yd-popup-list__text {
  font-size: 12px;
}
.yd-popup-list__text span {
  display: inline-block;
  margin-right: 16px;
}
.yd-popup-list__item .twpx-ui-btn {
  display: block;
  margin-top: 20px;
}
.yd-popup-list__back {
  color: #535b69;
  font-size: 12px;
  border: 2px solid #cfd4d8;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  margin-right: 10px;
  display: none;
}
.yd-popup-list__back:hover {
  opacity: 0.7;
}
.yd-popup--detail .yd-popup-list__back {
  display: block;
}
.yd-popup-list__back:before {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: 14px;
  width: 7px;
  height: 10px;
  background: url('/bitrix/images/twinpx.yadelivery/arrowBackAdmin.svg')
    no-repeat center;
  z-index: 10;
}
.yd-popup-list__chosen {
  color: #535b69;
  font-size: 12px;
  border: 2px solid #cfd4d8;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  text-align: center;
  cursor: pointer;
  display: none;
  position: absolute;
  left: 16px;
  bottom: 0;
  width: calc(100% - 16px - 4px);
  z-index: 10;
}
.yd-popup-list__chosen:hover {
  opacity: 0.7;
}
.yd-popup--simple .yd-popup-list__chosen {
  display: block;
}
.yd-popup--simple.yd-popup--detail .yd-popup-list__chosen-error,
.yd-popup--simple.yd-popup--detail .yd-popup-list__chosen {
  display: none;
}
.yd-popup-list__chosen:before {
  content: '';
  position: absolute;
  top: calc(50% - 8px);
  left: 14px;
  width: 12px;
  height: 16px;
  background: url('/bitrix/images/twinpx.yadelivery/arrowChosenAdmin.svg')
    no-repeat center;
  z-index: 10;
}
.yd-popup-list__chosen-error {
  background: transparent linear-gradient(90deg, #d50303 0%, #9d0000 100%) 0% 0%;
  border-radius: 3px;
  min-height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: default;
  position: absolute;
  left: 16px;
  bottom: 0;
  width: calc(100% - 16px - 4px);
  z-index: 10;
}
.yd-popup-list__chosen-error:before {
  content: '';
  display: block;
  background: url(/bitrix/images/twinpx.yadelivery/danger.svg) no-repeat center;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  flex-shrink: 0;
}
.yd-popup-btn {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border-radius: 7px;
  text-align: center;
  padding: 0 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.b-form-control {
  position: relative;
}
.b-form-control select {
  background-color: #fff;
  border-radius: 3px;
  color: #80868e;
  height: 48px;
  border: 0;
  outline: 1px solid #80b6e3;
  width: 100%;
  margin: 0;
  padding: 0 12px;
  font-size: 14px;
  -webkit-appearance: none;
  appearance: none;
}
.b-form-control:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  right: 11px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
}
.b-form-control:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: 16px;
  width: 4px;
  height: 4px;
  border-right: 1px solid #80868e;
  border-bottom: 1px solid #80868e;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  pointer-events: none;
  z-index: 10;
}
.b-form-control select:focus {
  outline: 1px solid #c6cdd3;
}
.b-form-control.b-float-label.invalid select {
  background-color: #ffefef;
  color: #ff0000;
  outline: 1px solid #e38080;
}
.b-form-control.b-float-label.invalid select:focus {
  outline: 1px solid #e38080;
}


/* Package */

  .twpx-select {
    margin-bottom: 24px;
  }
  .twpx-ydw-h1 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 1.1;
    font-weight: bold;
    margin: 0 0 28px 30px;
  }
  .twpx-ydw-h2 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .twpx-ydw-order {
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #fff;
    padding: 25px 110px 60px 50px;
    box-sizing: border-box;
    position: relative;
  }
  .twpx-ydw-order * {
    box-sizing: border-box;
  }
  .twpx-ydw-order a {
    color: #000;
    text-decoration: underline;
  }
  .twpx-ydw-order-logo-block {
    background-color: #fafafa;
    border-color: 3px;
    padding: 35px 30px;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }
  .twpx-ydw-order-logo {
    width: 250px;
    height: auto;
  }
  .twpx-ydw-order-menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    border-bottom: 1px solid #f2f2f2;
  }
  .twpx-ydw-order-menu-item {
    margin-right: 40px;
    position: relative;
    height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  .twpx-ydw-order-menu-item--active {
    font-weight: bold;
    cursor: default;
  }
  .twpx-ydw-order-menu-item:after {
    content: '';
    position: absolute;
    bottom: 17px;
    left: 50%;
    border-top: 2px solid #707070;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    width: 0;
    z-index: 10;
  }
  .twpx-ydw-order-menu-item.twpx-ydw-order-menu-item--active:after {
    width: 100%;
  }
  /*Form*/
  .twpx-ydw-order-form-block {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    padding: 32px;
    margin-bottom: 16px;
  }
  .twpx-ydw-order-form-block,
  .twpx-ydw-order-form-block * {
    box-sizing: border-box;
  }
  .twpx-ydw-order-form-block-content:last-child,
  .twpx-ydw-order-form-block:last-child {
    margin-bottom: 0;
  }
  .twpx-ydw-order-form-block-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .twpx-ydw-order-form-block-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-bottom: 16px;
  }
  .twpx-ydw-order-form-block-content {
    position: relative;
    gap: 16px;
    margin-bottom: 16px;
  }
  .twpx-ydw-order-form-block-description b {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }
  .twpx-ydw-hr {
    border-top: 1px solid #c6cdd355;
    margin: 24px 0;
  }
  
  .twpx-ydw-order-form-group {
    /* display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px; */
  }
  .twpx-ydw-order-label {
    display: block;
  }
  
  .twpx-ydw-order-form-control-dimensions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .twpx-ydw-order-form-control-price {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
  }
  
  .twpx-ydw-order-btn-remove {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 10;
  }
  .twpx-ydw-order-btn-remove:hover {
    opacity: 0.7;
  }
  .twpx-ydw-order-btn-remove svg {
    pointer-events: none;
  }
  .twpx-ydw-order-btn-calc {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
    z-index: 10;
  }
  .twpx-ydw-order-btn-list {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    z-index: 10;
  }
  .twpx-ydw-order-btn-list + .twpx-ydw-order-label + .twpx-ydw-order-input {
    padding-left: 54px;
    background-color: #fff;
  }
  .twpx-ydw-order-btn-list + .twpx-ydw-order-label {
    left: 54px;
  }
  .twpx-ydw-order-form-control--map .twpx-ydw-order-input {
    cursor: pointer;
  }
  .twpx-ydw-order-form-control-text {
    display: none;
    font-size: 12px;
    margin-top: 9px;
  }
  
  .twpx-ydw-order-btn-calc.twpx-ydw-order-btn--loading svg {
    display: none;
  }
  
  .twpx-ydw-order-btn-calc.twpx-ydw-order-btn--loading:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    animation: circle 1.3s infinite linear;
    border: 2px solid #000;
    border-radius: 50%;
    border-right-color: transparent;
    z-index: 10;
  }
  
  @keyframes circle {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .twpx-ydw-order-form-block-content:nth-child(3) .twpx-ydw-order-btn-remove {
    display: none;
  }
  .twpx-ydw-order-form-block--multiple
    .twpx-ydw-order-form-block-content:nth-child(3)
    .twpx-ydw-order-btn-remove {
    display: block;
  }

  .twpx-ydw-order-form-wrapper,
  .twpx-ydw-order-form-control-custom {
    display: grid;
    gap: 16px;
  }
  /*Input*/
  .twpx-ydw-order-form-control {
    position: relative;
  }
  .twpx-ydw-order-form-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 14px;
    margin-top: -10px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: -1;
  }
  .twpx-ydw-order-form-close:before {
    content: '';
    position: absolute;
    top: 9px;
    right: 0px;
    border-top: 2px solid #000;
    width: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 10;
  }
  .twpx-ydw-order-form-close:after {
    content: '';
    position: absolute;
    top: 9px;
    right: 0px;
    border-top: 2px solid #000;
    width: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 10;
  }
  .twpx-ydw-order-form-control--full .twpx-ydw-order-input {
    padding-right: 50px;
  }
  .twpx-ydw-order-form-control--full .twpx-ydw-order-form-close {
    opacity: 1;
    z-index: 10;
  }
  .twpx-ydw-order-input {
    background-color: #fff;
    outline: 1px solid #DEE2E6;
    border: none;
    border-radius: 4px;
    height: 58px;
    line-height: 58px;
    width: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 16px 16px 0;
    box-shadow: none;
    color: #000;
    -webkit-transition: outline 0.3s ease;
    transition: outline 0.3s ease;
  }
  .twpx-ydw-order-input:hover {
    outline: 1px solid #000;
  }
  .twpx-ydw-order-input:focus {
    border-bottom: 0;
    box-shadow: none;
    background-color: #fff;
    outline: 1px solid #000;
  }
  .twpx-ydw-order-input:disabled {
    outline: 1px solid #c6cdd355;
    background-color: transparent;
  }
  .twpx-ydw-order-label {
    color: #000;
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 16px;
    cursor: text;
    -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out,
      -webkit-font-size 0.2s ease-out;
    transition: color 0.2s ease-out, transform 0.2s ease-out,
      font-size 0.2s ease-out;
    text-align: initial;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    pointer-events: none;
  }
  .twpx-ydw-order-form-control--active .twpx-ydw-order-label {
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
    font-size: 9px;
  }
  .twpx-ydw-order-form-control--invalid .twpx-ydw-order-input {
    background-color: #ffefef;
    outline: 1px solid #e38080;
    color: #ff0000;
  }
  .twpx-ydw-order-form-control--invalid .twpx-ydw-order-label {
    color: #ff0000;
  }
  
  .twpx-ydw-order-form-control-note {
    font-size: 12px;
    line-height: 1.4;
    padding-top: 5px;
  }
  .twpx-ydw-order-form-control-note b {
    display: block;
    font-weight: bold;
  }
  .twpx-ydw-order-form-control-note p {
    display: block;
    padding: 0;
    margin: 0;
  }
  .twpx-ydw-order-form-control-note--warning {
    color: #ff0000;
  }
  /*Textarea*/
  .twpx-ydw-order-textarea {
    background-color: #fff;
    outline: 1px solid #c6cdd3;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 113px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 14px;
    box-shadow: none;
    color: #000;
    -webkit-transition: outline 0.3s ease;
    transition: outline 0.3s ease;
  }
  .twpx-ydw-order-textarea:hover {
    outline: 1px solid #8d8d8d;
  }
  .twpx-ydw-order-textarea:focus {
    border-bottom: 0;
    box-shadow: none;
    background-color: #fff;
    outline: 1px solid #8d8d8d;
  }
  /*Select*/
  .twpx-ydw-order-select {
    background-color: #fff;
    outline: 1px solid #DEE2E6;
    border: none;
    border-radius: 4px;
    height: 58px;
    width: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 16px 12px 0;
    box-shadow: none;
    color: #000;
    -webkit-transition: outline 0.3s ease;
    transition: outline 0.3s ease;
  }
  .twpx-ydw-order-select:hover {
    outline: 1px solid #000;
  }
  .twpx-ydw-order-select:focus {
    border-bottom: 0;
    box-shadow: none;
    background-color: #fff;
    outline: 1px solid #000;
  }
  .twpx-ydw-order-select:disabled {
    pointer-events: none;
  }
  .twpx-ydw-order-form-note {
    color: #000;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    padding: 8px 8px 0;
  }
  /*Switcher*/
  .twpx-ydw-order-switcher {
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    height: 48px;
    position: relative;
    margin-bottom: 24px;
  }
  .twpx-ydw-order-switcher input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }
  .twpx-ydw-order-switcher-item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    user-select: none;
    -webkit-transition: color 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    transition: color 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    z-index: 20;
  }
  .twpx-ydw-order-switcher--right-acitve .twpx-ydw-order-switcher-item--left,
  .twpx-ydw-order-switcher-item--right {
    color: #000;
    cursor: pointer;
    pointer-events: auto;
  }
  .twpx-ydw-order-switcher-item--left,
  .twpx-ydw-order-switcher--right-acitve .twpx-ydw-order-switcher-item--right {
    color: #fff;
    cursor: default;
    pointer-events: none;
  }
  .twpx-ydw-order-switcher-item.twpx-ydw-order-switcher-item--disabled {
    pointer-events: none;
    opacity: 0.3;
  }
  .twpx-ydw-order-switcher-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 48px;
    border-radius: 7px;
    background-color: #000;
    -webkit-transition: left 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    transition: left 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    z-index: 10;
  }
  .twpx-ydw-order-switcher--right-acitve .twpx-ydw-order-switcher-bg {
    left: 50%;
  }
  .twpx-ydw-order-switcher-tab {
    display: none;
  }
  .twpx-ydw-order-switcher-tab.twpx-ydw-order-switcher-tab--active {
    display: block;
  }
  /*Button*/
  .twpx-ydw-order-add-button {
    background-color: #FCE000;
    border-radius: 8px;
    color: #000;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin-top: 24px;
  }
  .twpx-ydw-order-add-button:hover {
    opacity: 0.7;
  }
  .twpx-ydw-order-saved-info {
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 25px 0;
  }
  
  .twpx-ydw-order-error {
    background: transparent linear-gradient(90deg, #d50303 0%, #9d0000 100%) 0% 0%
      no-repeat padding-box;
    border-radius: 3px;
    padding: 16px 16px 16px 64px;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* -webkit-transition: -webkit-transform 0.3s
      cubic-bezier(0.25, 0.74, 0.22, 0.99);
    transition: transform 0.3s cubic-bezier(0.25, 0.74, 0.22, 0.99); */
    z-index: 100;
  }
  .twpx-ydw-order-error.twpx-ydw-order-error--fixed {
    position: fixed;
    top: 0;
    left: 50px;
    width: calc(100% - 110px - 50px);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .twpx-ydw-order-error.twpx-ydw-order-error--visible {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 32px;
  }
  .twpx-ydw-order-error svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: 20px;
    pointer-events: none;
    z-index: 10;
  }
  .twpx-ydw-order-error.twpx-ydw-order-error--show {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 32px;
  }
  .twpx-ydw-order-button-block {
    position: relative;
  }
  .twpx-ydw-order-button-block.twpx-button-disabled:before {
    content: '';
    display: block;
    width: 100%;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 15;
  }
  .twpx-ydw-order-button,
  .twpx-ydw-reload-button {
    border-radius: 7px;
    background-color: #fc3f1d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 64px;
    border: 0;
    width: 100%;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    user-select: none;
  }
  .twpx-ydw-order-button:hover,
  .twpx-ydw-reload-button:hover {
    opacity: 0.7;
  }
  .twpx-ydw-order-button:disabled,
  .twpx-ydw-reload-button:disabled {
    background-color: #ededed;
    color: #a7abb1;
    cursor: default;
    pointer-events: none;
  }
  .twpx-ydw-order-button.twpx-ydw-order-btn--loading {
    font-size: 0;
    color: #fc3f1d;
  }
  .twpx-ydw-order-button.twpx-ydw-order-btn--loading:after {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    top: calc(50% - 17px);
    left: calc(50% - 17px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    animation: circle 1.3s infinite linear;
    border: 2px solid #fff;
    border-radius: 50%;
    border-right-color: transparent;
    z-index: 10;
  }
  
  /*Map*/
  .twpx-ydw-order-map,
  .twpx-ydw-order-location {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background-color: #00000066;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    z-index: -10;
  }
  .twpx-ydw-order--map .twpx-ydw-order-map,
  .twpx-ydw-order--location .twpx-ydw-order-location {
    width: 100%;
    opacity: 1;
    z-index: 100;
  }
  .twpx-ydw-order-map #yadelivery-widget,
  .twpx-ydw-order-location #location-widget {
    -webkit-transition: width 0.3s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    transition: width 0.3s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    width: 0;
    background-color: #fff;
    position: relative;
  }
  .twpx-ydw-order-map #yadelivery-widget.yadelivery-widget--loader #ydPopup,
  .twpx-ydw-order-location #location-widget.location-widget--loader .container {
    visibility: hidden;
  }
  .twpx-ydw-order-map #yadelivery-widget.yadelivery-widget--loader:after,
  .twpx-ydw-order-location #location-widget.location-widget--loader:after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    top: calc(50% - 65px);
    right: calc(50% - 65px);
    animation: circle 1.3s infinite linear;
    border: 2px solid #fc3f1d;
    border-radius: 50%;
    border-right-color: transparent;
  }
  .twpx-ydw-order--map .twpx-ydw-order-map #yadelivery-widget,
  .twpx-ydw-order--location .twpx-ydw-order-location #location-widget {
    width: 100%;
  }
  
  /*Boxes*/
  #twinpxYadeliveryBoxes .twpx-ydw-order-form-block-content,
  #twinpxYadeliveryProducts .twpx-ydw-order-form-block-content {
    display: grid;
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #000;
  }
  #twinpxYadeliveryBoxes .twpx-ydw-order-add-button {
    margin-top: 16px;
  }
  
  /*Period*/
  #twinpxYadeliveryPeriod .twpx-ydw-order-form-wrapper {
    position: relative;
  }
  #twinpxYadeliveryPeriod .twpx-ydw-order-form-control-note--warning {
    cursor: pointer;
    display: none;
  }
  #twinpxYadeliveryPeriodButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    z-index: 10;
  }
  .twpx-ydw-order-form-control--active #twinpxYadeliveryPeriodButton {
    display: none;
  }
  .twpx-ydw-order-form-control--load #twinpxYadeliveryPeriodButton:before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    top: calc(50% - 8px);
    right: 45px;
    animation: circle 1.3s infinite linear;
    border: 2px solid #000;
    border-radius: 50%;
    border-right-color: transparent;
  }
  #twinpxYadeliveryPeriod.twpx-period-disabled
    .twpx-ydw-order-form-control-note--warning {
    display: block;
  }
  #twinpxYadeliveryPeriod.twpx-period-disabled
    .twpx-ydw-order-form-control:before {
    content: '';
    display: block;
    width: 100%;
    height: 46px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 15;
  }
  
  /*Success*/
  .twpx-ydw-order-success,
  .twpx-ydw-order.twpx-ydw-order--success .twpx-ydw-order-form {
    display: none;
  }
  .twpx-ydw-order.twpx-ydw-order--success .twpx-ydw-order-success {
    display: block;
  }
  .twpx-ydw-order-success-content {
    background-color: #fafafa;
    border-radius: 3px;
    padding: 32px 32px 37px;
    margin-bottom: 32px;
  }
  .twpx-ydw-order-success-content .twpx-ydw-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .twpx-ydw-order-success-content .twpx-ydw-flex span {
    margin-right: 60px;
  }
  .twpx-ydw-order-success .twpx-ydw-order-button {
    width: 408px;
  }
  
  @media (max-width: 1399px) {
    .twpx-ydw-order-form-block-content {
      display: block;
    }
  }
  
  @media (max-width: 991px) {
    .twpx-ydw-order-form-block-content,
    .twpx-ydw-order-form-group {
      display: block;
    }
  }
  
  @keyframes circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes circle {
    0% {
      -webkit-transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  